@model POS.Models.DB.AccountingManual

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountingManual</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArabicAccName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArabicAccName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishAccName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishAccName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccMaxBalane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccMaxBalane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccKind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccKind)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalAccountTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalAccountTypeNavigation.FinalAccountTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYearNavigation.FiscalYearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentAccNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentAccNumberNavigation.AccNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
