@model POS.Models.DB.FiscalYear

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default"
  data-assets-path="~/assets/" data-template="vertical-menu-template-no-customizer-starter">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>الفترة المالية</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" /> -->

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
  <!-- <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" /> -->
  <!-- <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" /> -->

  <!-- Core CSS -->
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" />
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" />
  <link rel="stylesheet" href="~/assets/css/demo.css" />
  <link rel="stylesheet" href="~/css/main.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
  <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
  <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="~/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
  <script src="~/assets/js/config.js"></script>
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
   
 <!-- Navbar -->

        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
          <div class="container-fluid">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>


            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- nav-->
              <div class="navbar-nav align-items-center">
                <h3 class="nav-item pt-3">الفترة المالية</h3>

              </div>
              <!-- nav-->
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Notifications -->
                <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">
                    <i class="bx bx-bell bx-sm"></i>
                    <span class="badge rounded-pill badge-notifications bg-danger">
                      <!-- رقم الإشعارات -->
                      1
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end py-0" data-bs-popper="none">
                    <li class="dropdown-menu-header border-bottom">
                      <div class="dropdown-header d-flex align-items-center py-3">
                        <h5 class="text-body me-auto mb-0">الإشعارات</h5>
                        <a href="javascript:void(0)" class="dropdown-notifications-all text-body"
                          data-bs-toggle="tooltip" data-bs-placement="top" title=""
                          data-bs-original-title="Mark all as read" aria-label="Mark all as read"><i
                            class="bx fs-4 bx-envelope-open"></i></a>
                      </div>
                    </li>
                    <li class="dropdown-notifications-list scrollable-container ps ps--active-y">
                      <ul class="list-group list-group-flush">
                        <!-- قائمة الإشعارات -->
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <!-- صورة الإشعار -->
                                <img src="../~/assets/img/avatars/1.png"  class="w-px-40 h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">اسم الإشعار </h6>
                              <p class="mb-0">جسم الإشعار</p>
                              <small class="text-muted">قبل ساعة (الوقت)</small>
                            </div>
                            <div class="dropdown-notifications-actions flex-shrink-0">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"><span
                                  class="badge badge-dot"></span></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"><span
                                  class="bx bx-x"></span></a>
                            </div>
                          </div>
                        </li>
                        <!-- / نهاية قائمة الإشعارات -->
                      </ul>
                      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                      </div>
                      <div class="ps__rail-y" style="top: 0px; right: 0px; height: 440px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 200px;"></div>
                      </div>
                    </li>
                    <li class="dropdown-menu-footer border-top">
                      <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                        فتح قائمة الإشعارات
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- Notifications -->
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="~/assets/img/avatars/1.png"  class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="~/assets/img/avatars/1.png"  class="rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block lh-1">Shihab Al-Arifi</span>
                            <small>Designer</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </div>
        </nav>
        <hr class="mt-0">
        <!-- / Navbar -->
<hr />
<div   style="margin-right:500px;margin-left:250px;margin-top:100px;margin-bottom:100px;padding-right:200px;padding-top:100px;padding-bottom:100px;width:600px" class="card">
   <h1>إغلاق نهائي</h1>

   <h3>هل بالفعل تريد ايقاف السنة المالية ?</h3>
    <div>
        <h4>السنة المالية</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                اسم السنة 
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FiscalYearName)
            </dd>
            <dt class = "col-sm-2">
                تاريخ بدايتها
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                تاريخ نهايتها
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        
            @* <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FiscalYearStatus)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FiscalYearStatus)
            </dd>
            *@
        </dl>
    
        <form asp-action="Delete">
            <input type="submit" value="إغلاق" class="btn btn-danger" /> |
            <a asp-action="Index">العودة للقائمة السابقة</a>
        </form>
    </div>
</div>


          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
 
  <!-- / Layout wrapper -->

  <!-- Core JS -->
  <!-- build:js ~/assets/vendor/js/core.js -->
  <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="~/assets/vendor/libs/popper/popper.js"></script>
  <script src="~/assets/vendor/js/bootstrap.js"></script>
  <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="~/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
  <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
  <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
  <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
  <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
  <script src="~/assets/vendor/libs/datatables-buttons/buttons.html5.js"></script>
  <script src="~/assets/vendor/libs/datatables-buttons/buttons.print.js"></script>

  <!-- Main JS -->
  <script src="~/assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="~/pages1/sys1.js"></script>

</body>

</html>
















