@using static POS.Models.Helper
@model PermissionViewModel
@{
    ViewData["Title"] = "Index";
}
  <!-- Page -->
          <li class="menu-item active">
            <a asp-controller="Home" asp-action="Index" class="menu-link">
              <i class="menu-icon icon-house me-2"></i>
              <div>ادارة الصلاحيات</div>
            </a>
          </li>
          <!-- page list -->
          <li class="menu-item ">
            <a href="" class="menu-link menu-toggle">
              <i class="menu-icon icon-calendar-check me-2"></i>
              <div>تهيئة النظام </div>
            </a>
            <ul class="menu-sub">
              <!-- Page -->
              <li class="menu-item">
                <a asp-controller="FiscalYear" asp-action="Index" class="menu-link">
                  <div>الفترةالمالية</div>
                </a>
              </li>
              <!-- Page -->
              <li class="menu-item">
                <a asp-controller="Currency" asp-action="Index" class="menu-link">
                  <div>العملات</div>
                </a>
              </li>
              <!-- Page -->
              <li class="menu-item ">
                <a asp-controller="CurrenciesExchangeRate" asp-action="Index" class="menu-link">
                  <div>سعر صرف العملات</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- page list -->
          <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon icon-file-invoice-dollar me-1"></i>
              <div> المدخلات الاساسية</div>
            </a>
            <ul class="menu-sub">
              <!-- Page -->
              <li class="menu-item">
                <a href="sys4.html" class="menu-link">
                  <div>الحسابات الختامية</div>
                </a>
              </li>
              <!-- Page -->
              <li class="menu-item">
                <a asp-controller="AccountingManual" asp-action="Index" class="menu-link">
                  <div>الدليل المحاسبي</div>
                </a>
              </li>
              <!-- Page -->
             <li class="menu-item">
                <a asp-controller="Fund" asp-action="Index"  class="menu-link">
                  <div>الصناديق</div>
                </a>
              </li>
              <li class="menu-item">
                <a asp-controller="Bank" asp-action="Index" class="menu-link">
                  <div>البنك</div>
                </a>
              </li>
            </ul>
            <li class="menu-item ">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon icon-calculator me-1"></i>
                <dev>العمليات</dev>
              </a>
              <ul class="menu-sub">
                <!-- Page -->
                <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <div>قيد يومي</div>
                  </a>
                  <ul class="menu-sub">
                    <!-- Page -->
                    <li class="menu-item">
                      <a asp-controller="journalEnteryr1" asp-action="Create" class="menu-link">
                        <div>أضافة قيد يومي</div>
                      </a>
                    </li>
                    <!-- Page -->
                    <li class="menu-item">
                      <a asp-controller="journalEnteryr1" asp-action="Index" class="menu-link">
                        <div>استعراض القيود </div>
                      </a>
                    </li>
                  </ul>
                </li>
               <!-- Page -->
                <li class="menu-item ">
                  <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <div>سند صرف </div>
                  </a>
                  <ul class="menu-sub">
                    <!-- Page -->
                    <li class="menu-item">
                      <a asp-controller="ExpensVoucher" asp-action="Create" class="menu-link">
                        <div>أضافة صرف نقداً</div>
                      </a>
                    </li>
                     <li class="menu-item">
                      <a asp-controller="CheckExpens" asp-action="Create" class="menu-link">
                        <div>أضافة صرف شيك</div>
                      </a>
                    </li>
                    <!-- Page -->
                    <li class="menu-item ">
                      <a asp-controller="ExpensVoucher" asp-action="Index" class="menu-link">
                        <div>استعراض صرف نقداً </div>
                      </a>
                    </li>
                      <li class="menu-item ">
                      <a asp-controller="CheckExpens" asp-action="Index" class="menu-link">
                        <div>استعراض صرف شيك </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- Page -->
                <li class="menu-item  ">
                  <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <div>سند قبض</div>
                  </a>
                  <ul class="menu-sub">
                    <!-- Page -->
                    <li class="menu-item  ">
                      <a asp-controller="PayCheckVoucher" asp-action="Create" class="menu-link">
                        <div>اضافة قبض نقداً</div>
                      </a>
                    </li> 
                    <li class="menu-item ">
                      <a asp-controller="CheckPaycheck" asp-action="Create" class="menu-link">
                        <div>اضافة قبض شيك</div>
                      </a>
                    </li>
                    
                    <!-- Page -->
                    <li class="menu-item ">
                      <a asp-controller="PayCheckVoucher" asp-action="Index" class="menu-link">
                        <div>استعراض قبض نقداً</div>
                      </a>
                    </li>
                     <li class="menu-item ">
                      <a asp-controller="CheckPaycheck" asp-action="Index" class="menu-link">
                        <div>استعراض  قبض شيك</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a asp-controller="CheckPaycheck" asp-action="Chequelist" class="menu-link">
                    <div>استحقاق شيك</div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- page list -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon icon-suitcase-rolling me-1"></i>
                <div>التراحيل</div>
              </a>
              <ul class="menu-sub">
                <!-- Page -->
                <li class="menu-item">
                  <a asp-controller="journalEnteryr1" asp-action="JournalStage" class="menu-link">
                    <div>ترحيل القيود اليومية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a  asp-controller="PayCheckVoucher" asp-action="Stagelist" class="menu-link">
                    <div>ترحيل السندات النقدية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a asp-controller="CheckPaycheck" asp-action="Stagelist" class="menu-link">
                    <div>ترحيل السندات البنكية</div>
                  </a>
                </li>
              </ul>
              <!-- page list -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon icon-file-lines me-1"></i>
                <div>التقارير</div>
              </a>
              <ul class="menu-sub">
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys18.html" class="menu-link">
                    <div>دليل الحسابات</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys19.html" class="menu-link">
                    <div>الأرصدةالافتتاحية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys20.html" class="menu-link">
                    <div>حركة الصناديق</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys21.html" class="menu-link">
                    <div>حركة البنوك</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys22.html" class="menu-link">
                    <div>الميزانية العمومية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys23.html" class="menu-link">
                    <div>قائمة الارباح والخسائر</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys24.html" class="menu-link">
                    <div>سندات الصرف</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys25.html" class="menu-link">
                    <div>سندات القبض</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys26.html" class="menu-link">
                    <div>القيوداليومية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys27.html" class="menu-link">
                    <div>دفتر اليومية</div>
                  </a>
                </li>
                <!-- Page -->
                <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link menu-toggle">
                    <div>كشوفات الحسابات</div>
                  </a>
                  <ul class="menu-sub">
                    <!-- Page -->
                    <li class="menu-item">
                      <a href="sys28.html" class="menu-link">
                        <div>الحسابات الرئيسية</div>
                      </a>
                    </li>
                    <!-- Page -->
                    <li class="menu-item">
                      <a href="sys29.html" class="menu-link">
                        <div>الحسابات الفرعية</div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- page list -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon icon-user-gear me-2"></i>
                <div>تهيئة المستخدمين </div>
              </a>
              <ul class="menu-sub">
                <!-- Page -->
                <li class="menu-item">
                  <a href="sys30.html" class="menu-link">
                    <div>الملف الشخصي</div>
                  </a>
                </li>
             <!-- Page -->
              <li class="menu-item">
                 <a href="/Accounts/Roles" class="menu-link">
                  <div>إدارة المستخدمين</div>
                </a>
              </li>
              <!-- Page -->
              <li class="menu-item">
                <a href="/Accounts/Registers" class="menu-link">
                  <div> المستخدمين</div>
                </a>
              </li>
  
              </ul>
              <!-- Page -->
            <li class="menu-item">
              <a href="sys33.html" class="menu-link">
                <i class="menu-icon icon-arrows-rotate me-1"></i>
                <div>النسخة الاحتياطية</div>
              </a>
            </li>
          </ul>

      </aside>
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
          <div class="container-fluid">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- nav-->

              <div class="navbar-nav align-items-center">
                <h3 class="nav-item pt-3">الصفحةالرئيسية</h3>
              </div>
              <!-- nav-->
                  <ul class="navbar-nav flex-row align-items-center ms-auto">
                 <!-- Notifications -->
                 <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">
                    <i class="bx bx-bell bx-sm"></i>
                    <span class="badge rounded-pill badge-notifications bg-danger">
                      <!-- رقم الإشعارات -->
                      1
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end py-0" data-bs-popper="none">
                    <li class="dropdown-menu-header border-bottom">
                      <div class="dropdown-header d-flex align-items-center py-3">
                        <h5 class="text-body me-auto mb-0">الإشعارات</h5>
                        <a href="javascript:void(0)" class="dropdown-notifications-all text-body"
                          data-bs-toggle="tooltip" data-bs-placement="top" title=""
                          data-bs-original-title="Mark all as read" aria-label="Mark all as read"><i
                            class="bx fs-4 bx-envelope-open"></i></a>
                      </div>
                    </li>
                    <li class="dropdown-notifications-list scrollable-container ps ps--active-y">
                      <ul class="list-group list-group-flush">
                        <!-- قائمة الإشعارات -->
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <!-- صورة الإشعار -->
                                <img src="../../assets/img/avatars/1.png"  class="w-px-40 h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">اسم الإشعار </h6>
                              <p class="mb-0">جسم الإشعار</p>
                              <small class="text-muted">قبل ساعة (الوقت)</small>
                            </div>
                            <div class="dropdown-notifications-actions flex-shrink-0">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"><span
                                  class="badge badge-dot"></span></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"><span
                                  class="bx bx-x"></span></a>
                            </div>
                          </div>
                        </li>
                        <!-- / نهاية قائمة الإشعارات -->
                      </ul>
                      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                      </div>
                      <div class="ps__rail-y" style="top: 0px; right: 0px; height: 440px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 200px;"></div>
                      </div>
                    </li>
                    <li class="dropdown-menu-footer border-top">
                      <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                        فتح قائمة الإشعارات
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- Notifications -->
             
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="@Helper.PathImageuser@((await userManager.GetUserAsync(User)).ImageUser)"  class="rounded-circle" />
                    </div>
                  </a>
             <ul class="dropdown-menu dropdown-menu-end">
                  @if (signInManager.IsSignedIn(User))
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar avatar-online">
                                                                    <img src="@Helper.PathImageuser@((await userManager.GetUserAsync(User)).ImageUser)"  class="rounded-circle" />
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <span class="fw-semibold d-block lh-1">@((await userManager.GetUserAsync(User)).Name)</span>
                                                                <small>Designer</small>
                                                            </div>

                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <div class="dropdown-divider"></div>
                                                </li>
                                                <li>


                                  <form asp-action="Logout" asp-controller="Accounts" method="post">
                                      
                                       <a class="dropdown-item" href="/Accounts/">
                                       <i class="bx bx-power-off me-2"></i>
                                      <span class="align-middle">Log Out</span> </a>
                                  </form>
                                  
                              </li>}
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </div>
        </nav>
        <hr class="mt-0">
        <!-- / Navbar -->
                   

                    <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            
              <div class="table-responsive card-datatable">
        <!--End Content-Header-->
        <!-- Main content -->
        
<h1> @ResourceWeb.lbManagePermission (@Model.RoleName)</h1>
<br />
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="permissions" method="post" asp-action="Update" class="d-inline">
            <input asp-for="@Model.RoleId" type="hidden" />
            <table class="table table-striped" id="permissionTable">
                <thead id="tablePermission">
                    <tr>

                        <th>
                            أسم الصلاحية
                        </th>
                        <th>
                            العمليات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Enum.GetValues(typeof(PermissionModuleName)))
                    {
                        <tr>
                            
                            @switch (@item.ToString())
                            {
                                case "Home":
                                    <td>لوحة التحكم</td>
                                    break;
                                case "Accounts":
                                    <td>حسابات المستخدمين</td>
                                    break;
                                case "Roles":
                                    <td>محموعة المستخدمين</td>
                                    break;
                                case "Registers":
                                    <td>المستخدمين</td>
                                    break;
                               
                                default:
                                    break;
                            }
                            @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                            {
                                if (@Model.RoleClaims[i].Value.Split('.')[1] == item.ToString())
                                {
                                    <td>
                                        <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                        @Model.RoleClaims[i].Value.Split('.')[2]
                                    </td>
                                    <td>
                                        <div class="form-check m-1">
                                            <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                        </div>
                                    </td>
                                }
                            }
                        </tr>

                    }
                </tbody>
            </table>
            <div class="col-sm-12" style="padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
