@model POS.viewModels.JournalEnteryViewModel

@{
    ViewData["Title"] = "JournalStage";
    var JournalEnteryStatus=new List<string>()
            {
               "غير مرحل","مرحل "
            };
    
}

<h1>القيود اليومية</h1>

<p class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
   <tr>
       <td>
            <a style="margin:2%" asp-action="index">القيود اليومية  </a>
       </td>
   </tr>
   
     
</p>

<div class="col-md-30 mx-auto pt-0 p-0">
    <div class="card">
        <form method="post" form-light style="margin:1% ;text-align:left"  enctype="multipart/form-data">
            <div class="form-group">
                <table  class ="table table-striped table-sm">
                    <thead>
                        <tr>
           
                            <th>
                                رقم القيد
                            </th>
           
                            <th>
                               نوع القيد
                            </th>
                            <th>
                                السنة المالية
                            </th>
                            <th>
                                المبلغ الاجمالي
                            </th>
                           
                            <th>
                                ملاحظة
                            </th>
                             <th>
                               الغاء الترحيل
                            </th>
                            <th>
                                الكل<input style="margin:1%" type="checkbox" id="isAllStage">
                            </th>
                        </tr>
                    </thead>
            <tbody>
                    @for (int item1=0; item1 < Model.MainJournalEnteries.Count;item1++) {
                          <tr>
           
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainJournalEnteriesId" hidden  type="text" >
                                 <input asp-for="@Model.MainJournalEnteries[item1].MainJouralEntNumber" readonly  type="text" >

                                
               
                            </td>
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].JournalEnterieTypes" readonly  type="text" >
                               
                            </td>
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].FiscalYear" readonly  type="text" >
                               
                            </td>
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainJournalEnteriesAmount" readonly  type="text" >
                               
                            </td>
                           @* <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainournalEnteriesStatus" placeholder="@JournalEnteryStatus[@Model.MainJournalEnteries[item1].IsStage]" readonly  type="text" >
                               
                            </td>
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainJournalReferenceNumber" readonly  type="text" >
                               
                            </td>
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainJournalDateTime" readonly  type="text" >
                              
                            </td>*@
                            <td>
                                <input asp-for="@Model.MainJournalEnteries[item1].MainPaycheckGlobalNote" readonly  type="text" >
                               
                            </td>
                            <td>
                               <input asp-for="MainJournalEnteriesIsStage[item1]"  type="checkbox" id="isStage-@item1" class="child-checkbox" style="width:5px,height:5px">
                               
                            </td>
                            <td>
                                <table class="table" hidden>
                                <thead>
                                    <tr>
            
                                        <th>
                                            رقم الحساب
                                        </th>
                                        <th>
                                                اسم الحساب
                                        </th>
                                        <th>
                                            نوع العملة
                                        </th>
                                        <th>
                                            البيان
                                        </th>
                                        <th>
                                            مدين محلي
                                        </th>
                                        <th>
                                            دائن محلي
                                        </th>
                                        <th>
                                            مدين أجنبي
                                        </th>
                                        <th>
                                            دائن أجنبي
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(int i=0; i< Model.MainJournalEnteries[item1].DetailedJournalEnteries.Count;i++) {
                                            <tr>
           
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].CreditChildAccount"    >
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].MainJournalEnteries"   >
                                                </td>
                                               
                                                    
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].Currencies"   >
                                                </td>
                                                <td>
                                                   <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].CurrenciesExchangeRate" readonly   >
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].DebittAmountRly" readonly   >
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].CreditAmountRly" readonly   >
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].DebittAmountUdo" readonly >
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.MainJournalEnteries[item1].DetailedJournalEnteries[i].CreditAmountUdo" readonly   >
                                                </td>
            
                                            </tr>
                                    }
                            </tbody>    
                          </table>
                            </td>
          
                        </tr>
                             }
            </tbody>
    </table>
            </div>
        <div class="form-group">
                        <input  id="submit" type="submit"  value="الغاء الترحيل"  class="btn btn-primary" />
                        <a asp-action="Index">رجوع </a>
         </div>
</form>
 </div>
</div>





            @section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
        <script type="text/javascript">	
             const checkboxshingleItem= document.getElementById('isStage');
             const checkAll=document.getElementById('isAllStage');
           
         



             $(function(){
            $("#isAllStage").click(function(e){
               
                const checked=$(e.target).is(":checked");
                if(checked){
                    $('.child-checkbox').map(function(i,c){
                        $(c).prop('checked',true);
                        $(c).val(true);
                    });
                }else{
                    $('.child-checkbox').map(function(i,c){
                        $(c).prop('checked',false);
                        $(c).val(false);
                    });
                }
            })
            })

             
            /*change the checkbox status */
            $('input[type="checkbox"]').click(function(event){
                
                  console.log(checkAll.checked);
                 console.log(event.target.value+event.target.id);

                 if(event.target.id !="isAllStage"){
                     
                     if(checkAll.checked ){
                         
                         $("#isAllStage").prop('checked',false);
                         $("#isAllStage").val(false);
                       
                           $("#"+event.target.id).prop('checked',false);
                            $("#"+event.target.id).val(false);
                        }
                     else{
                         if(event.target.checked ==true){
                              console.log(event.target.checked+"event.target.checked")
                             $("#"+event.target.id).prop('checked',true);
                            $("#"+event.target.id).val(true);
                         }else{
                              console.log(event.target.checked+"event.target.checked")
                           $("#"+event.target.id).prop('checked',false);
                     
                      $("#"+event.target.id).val(false);
                         }
                        
                     }
                 }
                    })

           
        </script>
    

}







